h1, h2, div {
    text-align: center;
    font-size: 80px;
}

.ludosLogo {
    margin-bottom: -100px;
    height: auto;
    border-radius: 50%;
    transition: box-shadow 1s;
    background-color: #2D2928;
}

.footer {
    display: none;
}

.main {
    width: 32vw;
    height: auto;
    max-width: 800px;
    min-width: 300px;
    font-size: 75px;
    cursor: pointer;
    padding: 30px 64px;
}

.design {
    width: 25vw;
    height: auto;
    max-width: 700px;
    min-width: 250px;
    font-size: 50px;
    cursor: pointer;
    padding: 15px 32px;
}

.mirror,
.travesty,
.github,
.youtube,
.rumble,
.about
{
    width: 25vw;
    min-width: 250px;
    max-width: 700px;
    display: inline-block;
    cursor: pointer;
    font-size: 25px;
    padding: 16px;
}