h1, h2, div {
    text-align: center;
    font-size: 80px;
}

.footer {
    display: none;
}

.main {
    width: 90vw;
    height: 100px;
    max-width: 1200px;
    cursor: pointer;
    font-size: 40px;
    margin-bottom: 100px;
}

.games {
    margin-bottom: 20px;
}

.eaglercraft1_12_2,
.eaglercraft1_12_2_wasm,
.eaglercraftx,
.eaglercraftx_wasm,
.eaglercraftx_shadow,
.eaglercraft1_6_4,
.eaglercraft1_5_2,
.eaglercraftb1_3,
.eaglercraftb1_7_3,
.eaglercrafta1_2_6
{
    width: 25vw;
    min-width: 350px;
    max-width: 650px;
    display: inline-block;
    padding: 24px;
    cursor: pointer;
    font-size: 35px;
    margin-bottom: 20px;
}